@use "partials/reset.scss" as *;
@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// GENERAL


// HEADER STYLE 

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;

    .logo {
        color: red;
        font-size: large;
    }

    .search-bar {
        display: flex;
        gap: 10px;
        padding: 30px;

        input {
            padding: 5px;
        }

        button {
            padding: 5px;
            border: 2px red solid;

            &:hover {
                background-color: rgba(255, 0, 0, 0.345);
                color: white;
                
            }
        }
    }

}



// MAIN STYLE


// FOOTER STYLE 


